[user]
    name = Daniel Carl
    email = danielcarl@gmx.de
    signingkey = 0x3CA285230E6CBB5C
[color]
    diff = auto
    status = auto
    branch = auto
    grep = auto
[core]
    editor = vim
    excludesfile = ~/.gitignore
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[alias]
    gr = log --graph --full-history --pretty=format:'%Cred%h%Creset %x09-%C(green)%d%Creset %s %C(yellow)(%an, %cr)%Creset'
    gra = log --graph --all --full-history --pretty=format:'%Cred%h%Creset %x09-%C(green)%d%Creset %s %C(yellow)(%an, %cr)%Creset'
    lc = log ORIG_HEAD.. --stat --no-merges
    llog = log --date=local
    # run like git exportfiles HEAD~3 /dir/to/put/files
    exportfiles = !sh -c 'git diff $0 --name-only | "while read files; do mkdir -p \"$1/$(dirname $files)\"; cp -vf $files $1/$(dirname $files); done"'
    exportarchive = !sh -c 'git diff $0 --name-only | tar -czf "$1/release.tar.gz" -T -'
[bash]
    showDirtyState = true
[sendemail]
    aliasesfile = ~/.mutt/aliases
    aliasfiletype = mutt
    smtpencryption = tls
    smtpserver = mail.gmx.net
    smtpuser = danielcarl@gmx.de
    smtpserverport = 587
[pack]
    compression = 9
[push]
	default = simple
[svn]
	rmdir = true
	followparent = true
	pushmergeinfo = true
[merge "ours"]
	driver = true
