[user]
    name = Daniel Carl
    email = danielcarl@gmx.de
    signingkey = 0x3CA285230E6CBB5C
[color]
    diff = auto
    status = auto
    branch = auto
    grep = auto
[core]
    editor = vim
    excludesfile = ~/.gitignore
[diff]
    tool = vimdiff
    algorithm = histogram
[merge]
    tool = vimdiff
[alias]
    br  = branch
    cm  = commit
    df  = diff
    dfs = diff --staged
    st  = status
    sts = status -s
    prp = pull --rebase=preserve -p
    gr  = log --graph --full-history --decorate=short --oneline
    gra = log --graph --full-history --decorate=short --oneline --all
    lc  = log ORIG_HEAD.. --stat --no-merges
    ll  = log --date=local
    wdiff = diff --word-diff=color
    # run like git exportfiles HEAD~3 /dir/to/put/files
    exportfiles = !sh -c 'git diff $0 --name-only | "while read files; do mkdir -p \"$1/$(dirname $files)\"; cp -vf $files $1/$(dirname $files); done"'
    # run like git exportfiles HEAD~3 /dir/to/put/file.tar.gz
    exportarchive = !sh -c 'git diff $0 --name-only | tar -czf "$1" -T -'
    ignored = !git ls-files -v | grep '^[[:lower:]]'
    ignore      = !git update-index --assume-unchanged $1
    unignore    = !git update-index --no-assume-unchanged $1
[bash]
    showDirtyState = true
[sendemail]
    aliasesfile = ~/.mutt/aliases
    aliasfiletype = mutt
    smtpencryption = tls
    smtpserver = mail.gmx.net
    smtpuser = danielcarl@gmx.de
    smtpserverport = 587
[pack]
    compression = 5
    threads = 2
[push]
    default = simple
[svn]
    rmdir = true
    followparent = true
    pushmergeinfo = true
[merge "ours"]
    driver = true
[tig]
    line-graphics = utf-8
# vim: et sw=4 ts=4
