! cursortheme
Xcursor.theme: DMZ-White
! Xcursor.size: 32

! font settings
Xft.dpi:       96
Xft.autohint:  0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting:   1
Xft.antialias: 1
Xft.rgba:      rgb
Sxiv.background: #111111
Sxiv.foreground: #555555
Sxiv.font: monospace:size=10
