! cursortheme
Xcursor.theme: DMZ-White

! font settings
Xft.dpi:       96
Xft.autohint:  0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting:   1
Xft.antialias: 1
Xft.rgba:      rgb

urxvt*saveLines:         5000
urxvt*internalBorder:    0
urxvt*font:              xft:dejavu sans mono:normal:pixelsize=14
urxvt*boldFont:          xft:dejavu sans mono:normal:pixelsize=14
urxvt*letterSpace:       -1
urxvt*scrollBar:         false
urxvt*urgentOnBell:      true 
urxvt*scrollTtyOutput:   false
urxvt*scrollWithBuffer:  true
urxvt*scrollTtyKeypress: true
urxvt*loginShell:        true
urxvt*transparent:       false
!urxvt.shading:              30
!urxvt.tintColor:            #aaffaa
!urxvt.inheritPixmap:        true
!urxvt.depth:                32

! make clickable urls
urxvt*perl-lib:          /usr/lib/urxvt/perl/
urxvt*perl-ext-common:   default,matcher
urxvt*url-launcher:      vimb
urxvt*matcher.button:    1
urxvt.matcher.pattern.1: \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
urxvt*colorUL:           #8f8

! set terminal colors
*cursorColor:  #dc74d1
*pointerColor: #dc74d1
*background:   #222222
*foreground:   #eee
! black
*color0:       #000
*color8:       #777
! red
*color1:       #f55
*color9:       #f88
! green
*color2:       #5f5
*color10:      #8f8
! yellow
*color3:       #ff5
*color11:      #ff8
! blue
*color4:       #66f
*color12:      #99f
! magenta
*color5:       #f5f
*color13:      #f8f
! cyan
*color6:       #5ff
*color14:      #8ff
! white
*color7:       #eee
*color15:      #fff

! Scratch for mcabber
scratchy*transparent:       false
scratchy*saveLines:         5000
scratchy*internalBorder:    0
scratchy*font:              xft:dejavu sans mono:normal:pixelsize=14
scratchy*boldFont:          xft:dejavu sans mono:normal:pixelsize=14
scratchy*letterSpace:       -1
scratchy*scrollBar:         false
scratchy*urgentOnBell:      true 
scratchy*scrollTtyOutput:   false
scratchy*scrollWithBuffer:  true
scratchy*scrollTtyKeypress: true
scratchy*loginShell:        false
scratchy*cursorColor:       #dc74d1
scratchy*pointerColor:      #dc74d1
scratchy*background:        #000
scratchy*foreground:        #eee
